GEMINI_API_KEY="AIzaSyDiVu7UqMBGDjdzg0J5r3eRkT_SVfpr68c"
MISTRAL_API_KEY="JNzByShaThRYBs72cz4Z8RwB0LMtHm06"

PINECONE_API_KEY="pcsk_2XhjWg_JXCvFB2LKQWPKcpav4r5dkZbYEvt25fRCY9pyLHpyWtaNsNBi1cj1sbhVHKZNP1"
PINECONE_INDEX_NAME="stkrag"
PINECONE_ENVIRONMENT="us-east-1"

SO_CLIENT_SECRET="rkfPOt*KWqn3JMblEeU5Wg(("
SO_KEY="rl_Gnbc3K7Dd1azaAPm4i6A5EFkq"
SO_CLIENT_ID="33325"
